body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
    color: #333;
}

header {
    width: 100%;
    border-bottom: 2px solid #059669;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
}

header .logo {
    width: 80px;
    float: left;
}

header h1 {
    font-size: 24pt;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

header .qrcode-header {
    float: right;
    text-align: center;
    width: 100px;
}
header .qrcode-header img {
    width: 100px;
    height: 100px;
}
header .qrcode-header span {
    font-size: 8pt;
    color: #555;
}

/* Limpa os floats do header */
header::after {
    content: "";
    display: table;
    clear: both;
}

main {
    clear: both;
}

h2 {
    font-size: 16pt;
    color: #059669;
    background-color: #f0fdf4;
    padding: 8px;
    margin: 20px 0 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dashed #ccc;
}

td {
    padding: 8px 0;
}

td.item-nome {
    text-align: left;
}
td.item-nome strong {
    font-size: 11pt;
}
td.item-nome small {
    display: block;
    color: #555;
    font-size: 9pt;
}

td.item-preco {
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
    vertical-align: top;
}